@keyframes fade {
  0% {
    transform: translate(10px, 10px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

.aboutMe {
  color: white;
  animation: 1s fade;
  margin: 0 auto;
  max-width: 1280px;
  font-size: 20px;
}
