/* animation */
@keyframes dayToNight {
  from {
    background-color: white;
  }
  to {
    background-color: black;
  }
}
@keyframes rise {
  from {
    left: 55%;
    top: 200%;
  }
  to {
    left: 50%;
    top: 50%;
  }
}

@keyframes setDown {
  from {
    left: 50%;
    top: 50%;
  }
  to {
    left: 45%;
    top: 300%;
  }
}

/* Header Component */
.header {
  width: 100%;
  font-size: 20px;
  padding: 1em 1em;
  background-color: #000;
  border-bottom: 2px solid #fff;
  color: #bdbdbd;
  overflow: hidden;
  animation: dayToNight 2s;
}

.navWrap {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
  max-width: 1280px;
}

.logo {
  font-size: 2em;
  letter-spacing: -0.04em;
  font-weight: 700;
  cursor: pointer;
}

.logo:hover {
  color: #fff;
}

.linkList {
  display: flex;
  gap: 1.5em;
}

.linkList a {
  text-decoration: none;
  color: #bdbdbd;
  font-size: 1em;
  font-weight: 600;
}

.linkList a:hover {
  color: #fff;
}

.lightBtn,
.darkBtn {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.lightBtn {
  left: 45%;
  top: 200%;
  animation: setDown 2s;
}

.darkBtn {
  left: 50%;
  top: 50%;
  animation: rise 2s;
}

.darkBtn:hover {
  transform: translate(-50%, -50%) scale(1.2);
}
