/* Header Component*/
@keyframes nightToDay {
  0% {
    background-color: #000;
  }
  100% {
    background-color: #fff;
  }
}

@keyframes rise {
  from {
    left: 55%;
    top: 200%;
  }
  to {
    left: 50%;
    top: 50%;
  }
}

@keyframes setDown {
  from {
    left: 50%;
    top: 50%;
  }
  to {
    left: 45%;
    top: 300%;
  }
}

.header {
  width: 100%;
  font-size: 20px;
  padding: 1em 1em;
  background-color: #fff;
  /* border-bottom: 2px solid #000; */
  color: #777;
  overflow: hidden;
  overflow: hidden;
  animation: nightToDay 1s;
}

.navWrap {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
  max-width: 1280px;
}

.logo {
  font-size: 2em;
  letter-spacing: -0.04em;
  font-weight: 700;
  cursor: pointer;
}

.logo:hover {
  color: #000;
}

.linkList {
  display: flex;
  gap: 1.5em;
}

.linkList a {
  text-decoration: none;
  color: #777;
  font-size: 1em;
  font-weight: 600;
}

.linkList a:hover {
  color: #000;
}

.darkBtn,
.lightBtn {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.lightBtn {
  left: 50%;
  top: 50%;
  animation: rise 2s;
}

.lightBtn:hover {
  transform: translate(-50%, -50%) scale(1.2);
}

.darkBtn {
  left: 45%;
  top: 200%;
  transform: translate(-50%, -50%);
  animation: setDown 2s;
}
/* Main Component */
.main {
  height: calc(100vh - 80px);
  font-size: 20px;
  padding: 1em 1em;
  background-color: #fff;
  animation: nightToDay 1.2s;
}

/* Landing Component */
@keyframes typing1 {
  0% {
    width: 0%;
    border-right: 2px solid black;
  }
  100% {
    width: 100%;
    border-right: 2px solid black;
  }
}

@keyframes typing2 {
  0% {
    width: 0%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 100%;
    border-right: 2px solid black;
  }
}
.landing {
  font-size: 20px;
  margin: 0 auto;
  max-width: 1280px;
}

.title {
  min-width: 20px;
  font-size: 2em;
  white-space: nowrap;
  margin: 0;
  position: fixed;
  color: transparent;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title::before {
  content: "Lorem, ipsum dolor.";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #000;
  overflow: hidden;
  animation: typing1 1s steps(200);
}

.desc {
  min-width: 20px;
  font-size: 1em;
  white-space: nowrap;
  margin: 0;
  position: fixed;
  color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.desc::before {
  content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. At, qui?";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: black;
  overflow: hidden;
  animation: typing2 2s steps(200);
}

/* About me Component */
@keyframes fade {
  0% {
    transform: translate(10px, 10px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

.aboutMe {
  color: #000;
  margin: 0 auto;
  max-width: 1280px;
  font-size: 20px;
  text-align: center;
}

.aboutMeTitle {
  display: inline-block;
  font-size: 3em;
  font-weight: 900;
  margin: 0.5em 0;
  padding: 0 0.3em 0.3em 0.3em;
  border-bottom: 3px solid #000;
  animation: 0.3s fade;
}

.infoCards {
  margin-top: 5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5em;
  justify-items: center;
  justify-content: center;
}

.infoCard {
  min-width: 300px;
  display: flex;
  text-align: start;
  gap: 1em;
  opacity: 0;
}
.infoCard:nth-child(1) {
  animation: 0.3s fade forwards;
  animation-delay: 0.3s;
}
.infoCard:nth-child(2) {
  animation: 0.3s fade forwards;
  animation-delay: 0.6s;
}
.infoCard:nth-child(3) {
  animation: 0.3s fade forwards;
  animation-delay: 0.9s;
}
.infoCard:nth-child(4) {
  animation: 0.3s fade forwards;
  animation-delay: 1.2s;
}
.infoCard:nth-child(5) {
  animation: 0.3s fade forwards;
  animation-delay: 1.5s;
}
.infoCard:nth-child(6) {
  animation: 0.3s fade forwards;
  animation-delay: 1.8s;
}

.awesomIcon {
  display: inline-block;
}

.cardTitle {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 0.3em;
}
/* Skills Component */
.skills {
  color: #000;
  margin: 0 auto;
  max-width: 1280px;
  font-size: 20px;
  text-align: center;
}

.skillsTitle {
  display: inline-block;
  font-size: 3em;
  font-weight: 900;
  margin: 0.5em 0;
  padding: 0 0.3em 0.3em 0.3em;
  border-bottom: 3px solid #000;
  animation: fade 0.3s;
}

.boxWrap {
  display: flex;
  justify-content: space-between;
}

.techBox {
  width: 30%;
  background-color: #fff;
  color: black;
  border-radius: 20px;
  padding: 0.9em;
  opacity: 0;
  border: 1px solid #bdbdbd;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

.techBox:nth-child(1) {
  animation: 0.3s fade forwards;
  animation-delay: 0.3s;
}
.techBox:nth-child(2) {
  animation: 0.3s fade forwards;
  animation-delay: 0.5s;
}
.techBox:nth-child(3) {
  animation: 0.3s fade forwards;
  animation-delay: 0.7s;
}

.boxTitle {
  display: inline-block;
  font-size: 1.3em;
  font-weight: 700;
  padding: 0 0.3em 0.3em 0.3em;
  border-bottom: 2px solid red;
  margin-bottom: 0.3em;
}

.ImgWrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 20px;
}
