/* animation */
@keyframes nightToDay {
  0% {
    background-color: #000;
  }
  100% {
    background-color: #fff;
  }
}
@keyframes rise {
  from {
    left: 55%;
    top: 200%;
  }
  to {
    left: 50%;
    top: 50%;
  }
}
@keyframes setDown {
  from {
    left: 50%;
    top: 50%;
  }
  to {
    left: 45%;
    top: 300%;
  }
}

/* Header Component*/
.header {
  width: 100%;
  font-size: 20px;
  padding: 1em 1em;
  background-color: #fff;
  border-bottom: 2px solid #000;
  color: #777;
  overflow: hidden;
  overflow: hidden;
  animation: nightToDay 1s;
}

.navWrap {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
  max-width: 1280px;
}

.logo {
  font-size: 2em;
  letter-spacing: -0.04em;
  font-weight: 700;
  cursor: pointer;
}

.logo:hover {
  color: #000;
}

.linkList {
  display: flex;
  gap: 1.5em;
}

.linkList a {
  text-decoration: none;
  color: #777;
  font-size: 1em;
  font-weight: 600;
}

.linkList a:hover {
  color: #000;
}

.darkBtn,
.lightBtn {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.lightBtn {
  left: 50%;
  top: 50%;
  animation: rise 2s;
}

.lightBtn:hover {
  transform: translate(-50%, -50%) scale(1.2);
}

.darkBtn {
  left: 45%;
  top: 200%;
  transform: translate(-50%, -50%);
  animation: setDown 2s;
}
/* Main Component */
.main {
  height: calc(100vh - 82px);
  font-size: 20px;
  padding: 1em 1em;
  background-color: #fff;
  animation: nightToDay 1.2s;
}
