@keyframes fade {
  0% {
    transform: translate(10px, 10px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

.skills {
  color: white;
  animation: 1s fade;
  margin: 0 auto;
  max-width: 1280px;
  font-size: 20px;
  text-align: center;
}

.title {
  font-size: 2em;
  font-weight: 700;
  margin: 0.5em 0;
}

.boxWrap {
  display: flex;
  justify-content: space-between;
}

.techBox {
  width: 30%;
  background-color: #fff;
  color: black;
  border-radius: 20px;
  padding: 0.9em;
  font-weight: 600;
  transition: all 0.5s;
}

.techBox:hover {
  transform: translate(-5px, -5px);
}

.boxTitle {
  display: inline-block;
  padding-bottom: 0.3em;
  border-bottom: 2px solid red;
  margin-bottom: 0.3em;
}
